# Public/default NDOV ZeroMQ endpoint.
KV6_ZMQ_URL=tcp://pubsub.besteffort.ndovloket.nl:7658
KV6_OUTPUT_FILE=./data/kv6_vehicles.json
KV6_VEHICLE_TIMEOUT=180
KV6_SAVE_INTERVAL=5
KV6_SUBSCRIBE_PREFIX=/
KV6_RECEIVE_HWM=10000

GTFS_ZIP=./data/gtfs.zip
GTFS_DB=./data/gtfs.db
